<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Weather App Pro</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <button class="darkBtn">🌙</button>

<div class="overlay"></div>

<div class="container">

    <div class="weather-card">

        <h1>🌦 Weather App Pro</h1>

        <form method="POST">

            <input
                type="text"
                name="city"
                placeholder="Enter City Name..."
                required>

            <button type="submit">
                Search
            </button>

        </form>

        {% if error %}

        <div class="error">

            {{ error }}

        </div>

        {% endif %}


        {% if weather %}

        <div class="weather-box">

            <img
            src="https://openweathermap.org/img/wn/{{ weather.icon }}@4x.png">

            <h2>

                {{ weather.city }}

            </h2>

            <div class="temp">

                {{ weather.temp }}°C

            </div>

            <p>

                {{ weather.description }}

            </p>

        </div>

        <div class="details">

            <div class="card">

                <h3>🥵</h3>

                <span>Feels Like</span>

                <strong>{{ weather.feels_like }}°C</strong>

            </div>

            <div class="card">

                <h3>💧</h3>

                <span>Humidity</span>

                <strong>{{ weather.humidity }}%</strong>

            </div>

            <div class="card">

                <h3>💨</h3>

                <span>Wind</span>

                <strong>{{ weather.wind }} m/s</strong>

            </div>

            <div class="card">

                <h3>🌡</h3>

                <span>Pressure</span>

                <strong>{{ weather.pressure }} hPa</strong>

            </div>

        </div>

        {% endif %}

    </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>